.navbar{
    list-style: none;
    position: relative;
    background-color: #203444;
    color: white;
    white-space: nowrap;
    margin: 0 auto;
    width: 2000px;
}

.navbar-nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    position: relative;
    left: 150px;
    gap: 35px;
    font-weight: bold;
}

.senai{
    position: relative;
    top: 55px;
    left: -920px;
}

.navbar-link{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    position: relative;
}

.navbar-link:hover{
    text-decoration: underline;
}